<p><%= image_tag(@anime.poster_img_medium) %></p>
<p>Titles: <%= @anime.english_title%> / <%= @anime.japanese_title%> / <%= @anime.kanji_title%></p>
<p>Synopsis: <%= @anime.synopsis %></p>
<p>Average Rating: <%= @anime.avg_rating %></p>
<p>Start Date: <%= @anime.start_date %></p>
<p>End Date: <%= @anime.end_date %></p>
<p>Age Rating: <%= @anime.age_rating %></p>
<p>Age Rating Guide: <%= @anime.age_rating_guide %></p>
<p>Number of Episodes: <%= @anime.num_of_episodes %></p>
<p>Trailer: <%= @anime.youtube_link %></p>
<p>NSFW: <%= @anime.nsfw %></p>
